.media img {
	width: 300px;
	// height: 200px;
	border-radius: 5px;
}
.media {
	padding-top: 40px;

	.mr-3 {
		.news-list__image {
			height: 200px;
		}
	}
}
.media-body .mt-0 {
	padding-left: 20px;
	margin-bottom: 5px;
}
.media-body .ClassNameSection {
	font-size: 20px;
	line-height: 29px;
	font-weight: 600;
}
.media-body h6 {
	color: #8d8d8d;
	font-weight: 600;
	padding: 10px 20px;
}
.container .news {
	width: 100%;
	margin: 23px 0px;
	font-weight: 600;
}
.map {
	width: 100%;
}

.PostImage img {
	margin-bottom: 10px;
	width: 43%;
	float: left;
	padding-right: 30px;
}
.PostText p {
	text-align: justify;
}
.PostText h6 {
	color: #878787;
	font-weight: 600;
}
.PostText {
	margin-bottom: 40px;
}
