.MainBackGroundClient p {
	text-align: justify;
}

.ClassNameSection.client {
	line-height: 35px;
	margin: 0;
	padding: 25px 0;
	font-size: 20px;
	line-height: 29px;
}
.brach {
	padding-left: 0px;
}
.push li {
	position: relative;
	padding: 13px 0 13px 40px;
}
.push li:before {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #4f5151;
	content: '';
	left: 0;
	transition: 0.3s ease-in-out;
	top: 27px;
}
.push li:after {
	position: absolute;
	border-left: 1px dotted #4f5151;
	width: 1px;
	bottom: -12px;
	content: '';
	left: 3px;
	top: 48px;
}
.row .bransh {
	padding: 30px;
}
.row .white1 {
	padding: 30px;
	background: #fff;
}
.push li:hover:before {
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
.push li:last-child:after {
	content: none;
}

.branches-list {
	list-style: none;
	padding-left: 0;
}
.branches-list a {
	color: #000;
font-weight: 400;
}
