.attachment {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	text-decoration: none;
	margin-top: 20px;

	&:hover {
		.attachment-icon,
		.attachment-name {
			color: #075671;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	.attachment-icon {
		flex-shrink: 0;
		margin-right: 15px;
		color: #075671;
		transition: 0.3s;
	}

	.attachment-name {
		color: #000;
		transition: 0.3s;
	}
}
