.BlockButton .push a {
    color: #212529;
}
.sidebar .media img {
    width: 100px;
}
.sidebar .media-body .mt-0 {
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 22px;
    color: #333;
}
.sidebar .media-body .mt-1 {
    color: #878787;
    padding: 5px 0;
    font-size: 13px;
}
.sidebar .media {
    margin-top: 25px;
    padding: 0;
}
.purchases li {
    list-style: none;
    padding: 8px 25px;
border: 2px solid #d1d1d1;
margin: 7px 0;
border-radius: 5px;
}
.purchases {
    margin-top: 23px;
   padding-left: 0;
}
.dogovor {
    padding-left: 0px;
}
.purchases a {
    color: #212529;
}

.BlockButtonList {
    background-color: white;
    margin-bottom: 13px;
    padding: 10px 20px;
    border-radius: 5px;
}
.BlockButtonList h2, .BlockButtonList h4 {
    font-size: 17px;
}
.fa-2x {
    font-size: 1.5em;
}